<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CodingSessionDb" connectionString="Data Source=coding_tracker.db" providerName="Microsoft.Data.SQLite"/>
	</connectionStrings>
	<appSettings>
		<add key="DatabasePath" value="coding_tracker.db"/>
		<add key="DateFormat" value="yyyy-MM-dd HH:mm"/>
	</appSettings>
</configuration>